.homeData{
	width:78%;
	height:450px;
	top:220px;
	border-radius:30px;
	position:absolute;

	margin-left:10%;
	background-color:rgba(240,240,240,0.1);

}
.homeDesc{
		font-family: 'Bree Serif', serif;
		color:rgba(216,214,214,0.9);
		line-height: 1.414;
		letter-spacing: 2px;
		padding: 0px 20px;

		font-size:24px;
}
.welcomeTitle{
	font-family: 'Bree Serif', serif;
		color:rgba(199,190,190,1);
		font-size:30px;
		font-weight: 400;
		padding:60px 20px;
}