@import url('https://fonts.googleapis.com/css?family=Kanit');
.nameContainer{
	width:54.5%;
	margin-top:50px;
	margin-left:10%;
	background-color:rgba(80,43,43,0.25);
	border-radius:5px;
}
.companyTitle{
	font-family: 'Kanit', sans-serif;
	font-weight:600;
	font-size:40px;
	position:absolute;
	top:115px;
	color:rgba(255,255,255,0.9);
}